* {
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* button {
  cursor: pointer;
}

.App {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 1rem;
}
.title {
  /* background-color: grey; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sections {
  padding: 1rem;
  gap: 10px;
  display: flex;
  flex-direction: row;
  /* background-color: pink; */
  width: 100%;
  height: 50%;
}
.hook {
  border: 5px solid black;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  /* background-color: lime; */
  flex-direction: column;
}
.anim {
  border-radius: 20px;
  padding: 1rem;
  border: 5px solid black;
  height: 100%;
  width: 100%;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
#starImg {
  animation: spinner 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
