.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5;
  /* padding: 3rem; */
  /* margin: 3rem; */
}
.hooks {
  display: flex;
  flex-direction: column;
}
